POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=health_assistant
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]

HOST=0.0.0.0
PORT=8001
