OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-4o-mini

# PostgreSQL connection parts
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=health-assistant
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}